.idea/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
node_modules/**
scripts/**
testRoot/**
.eslintignore
.eslintrc.js
.gitignore
.markdownlint.json
.prettierignore
.prettierrc
package-lock.json
*.vsix
tsconfig.json
tsconfig.base.json
**/*.ts
**/*.map
.travis.yml
CONTRIBUTING.md

!dist/**
!out/**
